.btnGroup button {
  padding: 1em;
  cursor: pointer;
  float: left;

  border-radius: 8px;
  transition: all 0.2s ease;

  line-height: 0;
  font-weight: lighter;

  outline: 0;
}

.btnGroup button {
  border-radius: 0;
}

.btnGroup button:hover:not([disabled]) {
  background-color: var(--color-accent);
  opacity: 1;
}

.btnGroup a:first-child > button {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.btnGroup a:last-child > button {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.btnGroup button:disabled {
  cursor: not-allowed;
}

/* Clear floats (clearfix hack) */
.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}
