.btnGroup button {
  border: 0.25px solid white;
  padding: 1.15em 1em;
  cursor: pointer;
  float: left;

  border-radius: 8px;
  transition: all 0.2s ease;

  line-height: 0;
  font-weight: lighter;
}

.btnGroup.dark button {
  border: 0.25px solid var(--color-primary-200);
}

.btnGroup button {
  border-radius: 0;
}

.btnGroup a:first-child > button {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.btnGroup a:last-child > button {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.btnGroup button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btnGroup button:disabled {
  border: 0.25px solid white;
  cursor: not-allowed;
}

/* Clear floats (clearfix hack) */
.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}
