.btnGroup button {
  background-color: unset;
  border: 1px solid #20c997;
  color: #20c997;
  padding: 0.7em;
  cursor: pointer;
  float: left;

  border-radius: 0.4rem;
  transition: all 0.2s ease;
}

.btnGroup button {
  border-radius: 0;
}

.btnGroup a:first-child > button {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.btnGroup a:last-child > button {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.btnGroup button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btnGroup button:disabled {
  background-color: darkgrey;
  color: white;
  cursor: not-allowed;
}

/* Clear floats (clearfix hack) */
.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btnGroup button:hover {
  background-color: #20c997;
  color: white;
}
