.button {
  height: 30px;
  min-width: 30px;

  font-size: .875rem;
  font-weight: 700;
  color: var(--color-button-text);
  background-color: var(--color-primary-700);

  border: none;
  outline: none;

  border-radius: .25rem;

  transition: all 0.2s;

  padding: 0.5em;
}

.button:hover:not([disabled]) {
  background-color: var(--color-primary-800);
}

.button.danger {
  background-color: var(--color-accent);
}

.button.danger:hover:not([disabled]) {
  background-color: var(--color-accent-hover);
}

.button.success {
  background-color: #2ecc71;
}

.button.success:hover:not([disabled]) {
  background-color: #40d47e;
}

.button.light {
  background-color: #f8f9fa;
  color: black;
}

.button.light:hover:not([disabled]) {
  background-color: white;
}

.button.action {
  background-color: var(--color-secondary);
}

.button.action:hover:not([disabled]) {
  background-color: var(--color-secondary-washed-out);
}

.button:hover:not([disabled]) {
  cursor: pointer;
}


.button:disabled {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);
}
