.button {
  height: 30px;
  min-width: 30px;

  font-size: .875rem;
  font-weight: 700;
  color: var(--color-button-text);
  background-color: var(--color-primary-700);

  border: none;
  border-radius: .25rem;

  transition: all 0.2s;

  padding: 0.5em;
}

.button.danger {
  background-color: var(--color-accent);
}

.button.danger:hover {
  background-color: var(--color-accent-hover);
}

.button.success {
  background-color: #2ecc71;
}

.button.success:hover {
  background-color: #40d47e;
}

.button.action {
  background-color: var(--color-secondary);
}

.button.action:hover {
  background-color: var(--color-secondary-washed-out);
}

.button:hover {
  cursor: pointer;
}


.button:disabled {
  background: #f53b57;
  color: #dfe6e9;
}
