.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup > * {
  flex: 1;
  display: block;
  margin: 5px 0;
}

.formGroup label {
  color: var(--color-primary-100);
}

.inline > * {
  display: inline-block;
}
