.label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 10px 16px;
  margin: 5px 0;

  cursor: pointer;
  transition: .3s;
}

.label:hover,
.label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.input:checked+.design::before {
  transform: scale(0);
}

.text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;

  transition: .3s;
}

.input:checked~.text {
  color: hsl(0, 0%, 40%);
}
