@font-face {
        font-family: MarianneBOLD;
        src : url(/assets/schedule/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Marianne;
        src: url(/assets/schedule/marianne-regular-webfont.ttf);
}

.session {
  display: flex;
  flex-direction: column;

  margin: 0 .2em;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: .5em;

  font-family: Marianne;

  transition: all 0.15s ease;
}

.session .hour, .session .teacher, .session .bottom, .session .module, .session .name {
  margin-left: 5% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.session * {
  margin: 0;
}

.teacher {
  font-size: .6em;
  font-style: italic;
  font-family: 'MarianneBOLD';
  margin-top: 0 !important;
}

.hour {
  margin-top: .5rem;
  margin-bottom: .5rem;

  font-size: .88rem;
}

.name {
  font-family: MarianneBOLD;
  font-size: 0.8em;

  min-height: 1em;
  width: 85%;

  flex: 1 1 auto;
}

.bottom {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  font-size: .6em;
}

.bottom * {
  margin: 0;
}

@media (hover: hover) {
  .session:hover {
    border-left-width: 0.75em;
    cursor: pointer;
  }
}

.date {
  display: none;
}

@media screen and (max-width: 700px) {
  .session {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 0;
  }

  .date {
    display: unset;
  }
}
