@font-face {
        font-family: MarianneExtraBold;
        src : url(/assets/schedule/marianne-extrabold-webfont.ttf);
}

@font-face {
        font-family: MarianneBold;
        src : url(/assets/schedule/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Marianne;
        src: url(/assets/schedule/marianne-regular-webfont.ttf);
}

.session {
  display: flex;
  flex-direction: column;

  margin: 0 .2em;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: .5em;

  font-family: Marianne;

  transition: all 0.15s ease;

  padding: 2.5px 0;
}

.session .hour, .session .teacher, .session .bottom, .session .module, .session .name {
  margin-left: 5% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.session * {
  margin: 0;
}

.teacher {
  font-size: .6em;
  font-style: italic;
  font-family: 'MarianneBold';
  margin-top: 0 !important;
}

.hour {
  flex: 1;
  font-size: 11px;
  font-family: 'Marianne';

  overflow: visible !important;
}

.name {
  flex: 3;

  font-family: 'MarianneExtraBold';
  font-size: min(max(1rem, 3vw), 12px);
  text-transform: uppercase;

  min-height: 1em;
  width: 85%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-transform: uppercase;
  font-size: .6em;
}

.bottom * {
  margin: 0;
}

@media (hover: hover) {
  .session:hover {
    border-left-width: 0.75em;
    cursor: pointer;
  }
}

.date {
  display: none;
}

.contextMenuButton {
  display: none;
}

@media screen and (max-width: 900px) {
  .session {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 0;
  }

  .date {
    display: unset;
  }

  .contextMenuButton {
    display: unset;
  }
}
