.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  padding: 1em;
  border-radius: 8px;

  text-align: center;
  white-space: pre-line;
  place-content: flex-end;

  color: var(--color-primary-100);
  background-color: var(--color-primary-800);
}

.card h4 {
  color: var(--color-primary-100);
}
