.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  padding: 10px;
  border-radius: 8px;

  text-align: center;
  white-space: pre-line;
  place-content: flex-end;

  color: var(--color-primary-100);
  background-color: var(--color-primary-800);
}

.card > div {
  padding: 0.5em;
}
