.block {
  display: flex;
  padding: 20px;
  margin: 30px 0;
  border-radius: 7px;
  background: #fff9ef;
  color: #392e2f;

  max-width: 80%;
}

.icon {
  margin-right: 15px;
}

.title {
  font-weight: 700;
  margin-right: 15px;
}
