.title {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;

  color: var(--color-primary-100);
  background-color: rgba(84, 109, 229, 0.35);

  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: inherit;

  line-height: normal;
}

.title > *:first-child {
  padding-left: 0.5em;
}

.date {
  color: var(--color-secondary);
}

.content {
  background-color: var(--color-primary-800);
  border-radius: 0.5em;
  width: 50%;

  margin-top: 3em;

  min-height: 30vh;
}

.content > h1 {
  text-align: center;
  margin-top: 0;
}

.content h4 {
  margin: 1.2em 0 0 1em;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-primary-200);
}

.content h6 {
  margin: 0.2em 0 0 1em;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--color-primary-200);
}

.buttons {
  width: 100%;
}
