@font-face {
  font-family: MarianneExtraBold;
  src : url(/assets/schedule/marianne-extrabold-webfont.ttf);
}

.article {
  padding: 1em;
  margin: 0;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;

  text-align: center;
  transition: all 0.2s ease 0s;
}

[data-theme='dark'] .article {
  border-bottom: none;
  border-top: none;

  border-radius: 5px;
  background-color: #1E1E1E;

  margin-bottom: 1em;
}

[data-theme='dark'] .article:hover {
  color: #FAFAFA;
}

.article:last-child {
  border-bottom: none;
}

.module {
  font-family: monospace;
  font-stretch: condensed;
  font-size: x-large;
  font-weight: 700;

  text-transform: uppercase;
}

.meta {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-family: monospace, sans-serif;
  font-weight: 400;
  position: relative;
}

.author {
  white-space: nowrap;
}

.author, .date {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;

  color: white;
}

.avatar {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin: -2px 8px 0 0;
}

.avatarImage {
  border-radius: 50%;
}

.title {
  font-family: MarianneExtraBold, Arial;
  font-weight: 800;
  font-size: xxx-large;
}

[data-theme='light'] .article > .title > a:hover {
  color: var(--color-accent-hover);
}

@media screen and (max-width: 900px) {
  .article {
    margin: 1em;
  }

  .title {
    font-size: x-large;
  }
}
