@font-face {
        font-family: MarianneBOLD;
        src : url(/assets/schedule/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Marianne;
        src: url(/assets/schedule/marianne-regular-webfont.ttf);
}

/*************************
 * GRID SCHEDULE LAYOUT
 *************************/

.schedule {
  background-color: #FFF8E7;
  border-radius: 8px;

  color: black;

  margin: 0 0 4em;
  padding: 0.5em;
}

.schedule.dark {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);
}

@media screen and (max-width: 700px) {
  .schedule {
    background-color: unset;
  }

  .schedule .timeSlot, .schedule .trackSlot {
    display: none;
  }

  .session {
    margin: 1em;
  }
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    overflow: hidden;
    position: relative;

    width: 100%;
    min-height: 100vh;

    grid-template-rows: [tracks] minmax(40px, 3em)
    [time-0800] minmax(0.5em, 0.25fr) [time-0805] minmax(0.5em, 0.25fr) [time-0810] minmax(0.5em, 0.25fr) [time-0815] minmax(0.5em, 0.25fr) [time-0820] minmax(0.5em, 0.25fr) [time-0825] minmax(0.5em, 0.25fr)
    [time-0830] minmax(0.5em, 0.25fr) [time-0835] minmax(0.5em, 0.25fr) [time-0840] minmax(0.5em, 0.25fr) [time-0845] minmax(0.5em, 0.25fr) [time-0850] minmax(0.5em, 0.25fr) [time-0855] minmax(0.5em, 0.25fr)
    [time-0900] minmax(0.5em, 0.25fr) [time-0905] minmax(0.5em, 0.25fr) [time-0910] minmax(0.5em, 0.25fr) [time-0915] minmax(0.5em, 0.25fr) [time-0920] minmax(0.5em, 0.25fr) [time-0925] minmax(0.5em, 0.25fr)
    [time-0930] minmax(0.5em, 0.25fr) [time-0935] minmax(0.5em, 0.25fr) [time-0940] minmax(0.5em, 0.25fr) [time-0945] minmax(0.5em, 0.25fr) [time-0950] minmax(0.5em, 0.25fr) [time-0955] minmax(0.5em, 0.25fr)
    [time-1000] minmax(0.5em, 0.25fr) [time-1005] minmax(0.5em, 0.25fr) [time-1010] minmax(0.5em, 0.25fr) [time-1015] minmax(0.5em, 0.25fr) [time-1020] minmax(0.5em, 0.25fr) [time-1025] minmax(0.5em, 0.25fr)
    [time-1030] minmax(0.5em, 0.25fr) [time-1035] minmax(0.5em, 0.25fr) [time-1040] minmax(0.5em, 0.25fr) [time-1045] minmax(0.5em, 0.25fr) [time-1050] minmax(0.5em, 0.25fr) [time-1055] minmax(0.5em, 0.25fr)
    [time-1100] minmax(0.5em, 0.25fr) [time-1105] minmax(0.5em, 0.25fr) [time-1110] minmax(0.5em, 0.25fr) [time-1115] minmax(0.5em, 0.25fr) [time-1120] minmax(0.5em, 0.25fr) [time-1125] minmax(0.5em, 0.25fr)
    [time-1130] minmax(0.5em, 0.25fr) [time-1135] minmax(0.5em, 0.25fr) [time-1140] minmax(0.5em, 0.25fr) [time-1145] minmax(0.5em, 0.25fr) [time-1150] minmax(0.5em, 0.25fr) [time-1155] minmax(0.5em, 0.25fr)
    [time-1200] minmax(0.5em, 0.25fr) [time-1205] minmax(0.5em, 0.25fr) [time-1210] minmax(0.5em, 0.25fr) [time-1215] minmax(0.5em, 0.25fr) [time-1220] minmax(0.5em, 0.25fr) [time-1225] minmax(0.5em, 0.25fr)
    [time-1230] minmax(0.5em, 0.25fr) [time-1235] minmax(0.5em, 0.25fr) [time-1240] minmax(0.5em, 0.25fr) [time-1245] minmax(0.5em, 0.25fr) [time-1250] minmax(0.5em, 0.25fr) [time-1255] minmax(0.5em, 0.25fr)
    [time-1300] minmax(0.5em, 0.25fr) [time-1305] minmax(0.5em, 0.25fr) [time-1310] minmax(0.5em, 0.25fr) [time-1315] minmax(0.5em, 0.25fr) [time-1320] minmax(0.5em, 0.25fr) [time-1325] minmax(0.5em, 0.25fr)
    [time-1330] minmax(0.5em, 0.25fr) [time-1335] minmax(0.5em, 0.25fr) [time-1340] minmax(0.5em, 0.25fr) [time-1345] minmax(0.5em, 0.25fr) [time-1350] minmax(0.5em, 0.25fr) [time-1355] minmax(0.5em, 0.25fr)
    [time-1400] minmax(0.5em, 0.25fr) [time-1405] minmax(0.5em, 0.25fr) [time-1410] minmax(0.5em, 0.25fr) [time-1415] minmax(0.5em, 0.25fr) [time-1420] minmax(0.5em, 0.25fr) [time-1425] minmax(0.5em, 0.25fr)
    [time-1430] minmax(0.5em, 0.25fr) [time-1435] minmax(0.5em, 0.25fr) [time-1440] minmax(0.5em, 0.25fr) [time-1445] minmax(0.5em, 0.25fr) [time-1450] minmax(0.5em, 0.25fr) [time-1455] minmax(0.5em, 0.25fr)
    [time-1500] minmax(0.5em, 0.25fr) [time-1505] minmax(0.5em, 0.25fr) [time-1510] minmax(0.5em, 0.25fr) [time-1515] minmax(0.5em, 0.25fr) [time-1520] minmax(0.5em, 0.25fr) [time-1525] minmax(0.5em, 0.25fr)
    [time-1530] minmax(0.5em, 0.25fr) [time-1535] minmax(0.5em, 0.25fr) [time-1540] minmax(0.5em, 0.25fr) [time-1545] minmax(0.5em, 0.25fr) [time-1550] minmax(0.5em, 0.25fr) [time-1555] minmax(0.5em, 0.25fr)
    [time-1600] minmax(0.5em, 0.25fr) [time-1605] minmax(0.5em, 0.25fr) [time-1610] minmax(0.5em, 0.25fr) [time-1615] minmax(0.5em, 0.25fr) [time-1620] minmax(0.5em, 0.25fr) [time-1625] minmax(0.5em, 0.25fr)
    [time-1630] minmax(0.5em, 0.25fr) [time-1635] minmax(0.5em, 0.25fr) [time-1640] minmax(0.5em, 0.25fr) [time-1645] minmax(0.5em, 0.25fr) [time-1650] minmax(0.5em, 0.25fr) [time-1655] minmax(0.5em, 0.25fr)
    [time-1700] minmax(0.5em, 0.25fr) [time-1705] minmax(0.5em, 0.25fr) [time-1710] minmax(0.5em, 0.25fr) [time-1715] minmax(0.5em, 0.25fr) [time-1720] minmax(0.5em, 0.25fr) [time-1725] minmax(0.5em, 0.25fr)
    [time-1730] minmax(0.5em, 0.25fr) [time-1735] minmax(0.5em, 0.25fr) [time-1740] minmax(0.5em, 0.25fr) [time-1745] minmax(0.5em, 0.25fr) [time-1750] minmax(0.5em, 0.25fr) [time-1755] minmax(0.5em, 0.25fr)
    [time-1800] minmax(0.5em, 0.25fr) [time-1805] minmax(0.5em, 0.25fr) [time-1810] minmax(0.5em, 0.25fr) [time-1815] minmax(0.5em, 0.25fr) [time-1820] minmax(0.5em, 0.25fr) [time-1825] minmax(0.5em, 0.25fr)
    [time-1830] minmax(0.5em, 0.25fr) [time-1835] minmax(0.5em, 0.25fr) [time-1840] minmax(0.5em, 0.25fr) [time-1845] minmax(0.5em, 0.25fr) [time-1850] minmax(0.5em, 0.25fr) [time-1855] minmax(0.5em, 0.25fr)
    [time-1900] minmax(0.5em, 0.25fr);
    grid-template-columns: [times] 4em [track-1-start] minmax(0, 1fr) [track-1-end track-2-start] minmax(0, 1fr) [track-2-end track-3-start] minmax(0, 1fr) [track-3-end track-4-start] minmax(0, 1fr) [track-4-end track-5-start] minmax(0, 1fr) [track-5-end track-6-start] minmax(0, 1fr) [track-7-end];
  }
}

.timeSlot {
  line-height: 0;
  grid-column: times;
}

.trackSlot {
  display: none;
  /* hidden on small screens and browsers without grid support */
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .trackSlot {
      display: block;
      padding: 10px 5px 5px;
    }
  }
}

.trackSlot,
.timeSlot {
  font-size: 1em;
  font-family: system-ui;
  text-transform: uppercase;
  margin: 0 0.5em;
}

.trackSlot {
  text-align: center;
  border-bottom: darkgrey solid 1px;
}

.session {
  display: flex;
  flex-direction: column;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: .5em;

  font-family: Marianne;

  transition: all 0.2s ease;
}

.session:hover {
  border-left-width: 1em;
  cursor: pointer;
}

.session .top, .session .teacher, .session .bottom, .session .module, .session .name {
  margin: 5% 0 0 5%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.teacher {
  font-size: .6em;
  font-style: italic;
  font-family: 'MarianneBOLD';
  margin-top: 0 !important;
}

.top {
  flex-wrap: wrap;
  display: flex;
  padding: 0.2em;

  font-size: small;
}

.name {
  font-family: MarianneBOLD;
  font-size: 0.8em;
}

.bottom {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  font-size: .6em;
}

.bottom * {
  margin: 0;
}
