@font-face {
        font-family: MarianneBOLD;
        src : url(/assets/schedule/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Marianne;
        src: url(/assets/schedule/marianne-regular-webfont.ttf);
}

/*************************
 * GRID SCHEDULE LAYOUT
 *************************/

 .schedule {
   margin-top: 1em;
   background-color: #FFF8E7;
 }

@media screen and (max-width: 700px) {
  .schedule {
    background-color: unset;
  }

  .schedule .timeSlot, .schedule .trackSlot {
    display: none;
  }

  .session {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    grid-gap: 0 1em;
    grid-template-rows: [tracks] auto [time-0800] 1em [time-0815] 1em [time-0830] 1em [time-0845] 1em [time-0900] 1em [time-0915] 1em [time-0930] 1em [time-0945] 1em [time-1000] 1em [time-1015] 1em [time-1030] 1em [time-1045] 1em [time-1100] 1em [time-1115] 1em [time-1130] 1em [time-1145] 1em [time-1200] 1em [time-1215] 1em [time-1230] 1em [time-1245] 1em [time-1300] 1em [time-1315] 1em [time-1330] 1em [time-1345] 1em [time-1400] 1em [time-1415] 1em [time-1430] 1em [time-1445] 1em [time-1500] 1em [time-1515] 1em [time-1530] 1em [time-1545] 1em [time-1600] 1em [time-1615] 1em [time-1630] 1em [time-1645] 1em [time-1700] 1em [time-1715] 1em [time-1730] 1em [time-1745] 1em [time-1800] 1em [time-1815] 1em [time-1830] 1em [time-1845] 1em [time-1900] 1em;
    grid-template-columns: [times] 4em [track-1-start] 1fr [track-1-end track-2-start] 1fr [track-2-end track-3-start] 1fr [track-3-end track-4-start] 1fr [track-4-end track-5-start] 1fr [track-5-end track-6-start] 1fr [track-7-end];
  }
}

.timeSlot {
  grid-column: times;
}

.trackSlot {
  display: none;
  /* hidden on small screens and browsers without grid support */
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .trackSlot {
      display: block;
      padding: 10px 5px 5px;
    }
  }
}

.trackSlot,
.timeSlot {
  font-size: 1em;
  font-family: system-ui;
  text-transform: uppercase;
  margin-left: 1em;
}

.trackSlot {
  text-align: center;
  border-bottom: darkgrey solid 1px;
}

.session {
  display: flex;
  flex-direction: column;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: .5em;

  font-family: Marianne;

  transition: all 0.2s ease;
}

.session:hover {
  border-left-width: 1em;
  cursor: pointer;
}

.session .hours, .session .teacher, .session .room, .session .module, .session .name {
  margin: 5% 0 0 5%;
  color: black;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.teacher {
  font-size: .8vw;
  font-style: italic;
  font-family: 'MarianneBOLD';
  margin-top: 0 !important;
}

.hours {
  font-size: small;

  margin-top: 1em;
  margin-bottom: 1em;
}

.name {
  font-family: MarianneBOLD;
  font-size: 1vw;
}

.room {
  text-transform: uppercase;
  font-size: .8vw;
}
