@font-face {
        font-family: MarianneBOLD;
        src : url(/assets/schedule/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Marianne;
        src: url(/assets/schedule/marianne-regular-webfont.ttf);
}

/*************************
 * GRID SCHEDULE LAYOUT
 *************************/

.schedule {
  background-color: #FFF8E7;
  color: black;
}

.schedule.dark {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);

  border-radius: 8px;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .schedule {
    background-color: unset;
  }

  .schedule .timeSlot, .schedule .trackSlot {
    display: none;
  }

  .session {
    margin: 1em;
  }
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100vh;

    grid-template-rows: [tracks] minmax(40px, 3em)
    [time-0800] minmax(1em, 1fr) [time-0815] minmax(1em, 1fr) [time-0830] minmax(1em, 1fr) [time-0845] minmax(1em, 1fr)
    [time-0900] minmax(1em, 1fr) [time-0915] minmax(1em, 1fr) [time-0930] minmax(1em, 1fr) [time-0945] minmax(1em, 1fr)
    [time-1000] minmax(1em, 1fr) [time-1015] minmax(1em, 1fr) [time-1030] minmax(1em, 1fr) [time-1045] minmax(1em, 1fr)
    [time-1100] minmax(1em, 1fr) [time-1115] minmax(1em, 1fr) [time-1130] minmax(1em, 1fr) [time-1145] minmax(1em, 1fr)
    [time-1200] minmax(1em, 1fr) [time-1215] minmax(1em, 1fr) [time-1230] minmax(1em, 1fr) [time-1245] minmax(1em, 1fr)
    [time-1300] minmax(1em, 1fr) [time-1315] minmax(1em, 1fr) [time-1330] minmax(1em, 1fr) [time-1345] minmax(1em, 1fr)
    [time-1400] minmax(1em, 1fr) [time-1415] minmax(1em, 1fr) [time-1430] minmax(1em, 1fr) [time-1445] minmax(1em, 1fr)
    [time-1500] minmax(1em, 1fr) [time-1515] minmax(1em, 1fr) [time-1530] minmax(1em, 1fr) [time-1545] minmax(1em, 1fr)
    [time-1600] minmax(1em, 1fr) [time-1615] minmax(1em, 1fr) [time-1630] minmax(1em, 1fr) [time-1645] minmax(1em, 1fr)
    [time-1700] minmax(1em, 1fr) [time-1715] minmax(1em, 1fr) [time-1730] minmax(1em, 1fr) [time-1745] minmax(1em, 1fr)
    [time-1800] minmax(1em, 1fr) [time-1815] minmax(1em, 1fr) [time-1830] minmax(1em, 1fr) [time-1845] minmax(1em, 1fr)
    [time-1900] minmax(1em, 1fr);
    grid-template-columns: [times] 4em [track-1-start] minmax(0, 1fr) [track-1-end track-2-start] minmax(0, 1fr) [track-2-end track-3-start] minmax(0, 1fr) [track-3-end track-4-start] minmax(0, 1fr) [track-4-end track-5-start] minmax(0, 1fr) [track-5-end track-6-start] minmax(0, 1fr) [track-7-end];
  }
}

.timeSlot {
  grid-column: times;
}

.trackSlot {
  display: none;
  /* hidden on small screens and browsers without grid support */
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .trackSlot {
      display: block;
      padding: 10px 5px 5px;
    }
  }
}

.trackSlot,
.timeSlot {
  font-size: 1em;
  font-family: system-ui;
  text-transform: uppercase;
  margin: 0 0.5em;
}

.trackSlot {
  text-align: center;
  border-bottom: darkgrey solid 1px;
}

.session {
  display: flex;
  flex-direction: column;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: .5em;

  font-family: Marianne;

  transition: all 0.2s ease;
}

.session:hover {
  border-left-width: 1em;
  cursor: pointer;
}

.session .top, .session .teacher, .session .bottom, .session .module, .session .name {
  margin: 5% 0 0 5%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.teacher {
  font-size: .6em;
  font-style: italic;
  font-family: 'MarianneBOLD';
  margin-top: 0 !important;
}

.top {
  flex-wrap: wrap;
  display: flex;
  padding: 0.2em;

  font-size: small;
}

.name {
  font-family: MarianneBOLD;
  font-size: 0.8em;
}

.bottom {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  font-size: .6em;
}

.bottom * {
  margin: 0;
}
