.brand {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.brand > h3 {
  transition: all 0.3s ease;
}

.brand, .brand > * {
  margin: auto;
}

.brand > img {
  border-radius: 9999px;
  margin-right: 1em;
}

.list {
  padding: 0;
  margin-top: 2.5em;
  list-style-type: none;
}

.item {
  color: var(--color-primary-100);

  display: block;
  padding: 1.5em 1.5em 1.5em 2em;
  transition: all 0.3s ease;
}

.item:hover, .brand > h3:hover {
  cursor: pointer;
  color: var(--color-secondary);
}

.icon {
  display: inline-block;
  margin-right: .6em;
}

.sidebar {}

.sidebar hr {
  width: 85%;
  border: none;
  border-bottom: 1px solid var(--color-primary-100);
}

@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .list {
    margin: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . .";
  }

  .item {
    visibility: collapse;
    overflow: hidden;

    padding: 1em;
    margin: auto;

    width: 1em;
    height: 1em;
  }

  .icon {
    visibility: visible;
  }

  .sidebar {
    position: relative;
    top: 0;
    margin-top: 1em;
  }

  .brand h3 {
    display: none;
  }

  .sidebar hr {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .brand h3 {
    display: none;
  }
}
