.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #546DE5;
  overflow-x: hidden;
}

.sidebar[data-active="1"] {
  transform: translateX(0);
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }

  .closeIcon {
    visibility: hidden;
  }
}

.list {
  padding: 0;
  margin-top: 2.5em;
  list-style-type: none;
}

.list-dark a {
  color: #282828;
}

.item {
  color: #FAFAFA;

  display: block;
  padding: 20px 20px 20px 40px;
  transition: all 0.3s ease;
}

.item:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}

.list-dark .item:hover {
  color: #FAFAFA;
  background-color: #282828;
}

.icon {
  display: inline-block;
  margin-right: 0.6em;
}

.settings {
  width: 4rem;
  height: auto;
  margin: auto;
  display: block;
  color: #FAFAFA;
}

.settings .icon {
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    text-align: center;
}

.settings:hover {
  cursor: pointer;
  color: #282828;
}

.settings-dark:hover {
  color: #FAFAFA;
}

.closeIcon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #FAFAFA;
}
