.table {
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
  border-collapse: collapse;

  font-family: "Lato";

  color: var(--color-primary-100);
}

.fixed {
  table-layout: fixed;
}

.fixed th, .fixed tbody td {
  text-align: center !important;
}

.table th {
  font-size: 1.2em;
  text-align: left;
  color: #fff;

  background-color: #6c7ae0;
  padding: 1em 0 1em 0;
}

.table th:first-child {
  padding: 1em 0 1em 1em;
  border-radius: 8px 0 0 0;
}

.table th:last-child {
  border-radius: 0 8px 0 0;
}

.table td:first-child {
  padding: 1em 0 1em 1em;
}

.table td:nth-of-type(2) {
  font-weight: bold;
}

.table td:nth-of-type(4) {
  font-style: italic;
}

.table tr:nth-child(even) {
  background-color: #F8F6FF;
}

[data-theme='dark'] .table th {
  background-color: var(--color-primary-800);
}

[data-theme='dark'] .table tr:nth-child(even) {
  background-color: #2D2D2D;
  color: var(--color-primary-200);
}
