.title {
  font-weight: 100;
  font-size: 3em;
  line-height: 1;
  margin: 0.25em 0 0;
  color: #282828;
  font-family: "Raleway";
}

.dark {
  color: #FAFAFA;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.gradient {
  font-weight: 800;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top right, #546DE5, #546DE5);
}
