.card {
  text-align: unset;
  align-content: center;
}

.buttons {
  margin-top: 1rem;
}

.current {
 border: 1px solid var(--color-accent);
}

.next {
 border: 1px solid #27ae60;
}

.title {
  color: var(--color-primary-100);

  font-weight: bold;
  font-size: large;

  line-height: normal;
}
