.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.container.dark {
  color: #D4D4D4;
  background-color: #282828;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .container {
    grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }

  .header-search {
    margin-left: 0;
  }
}

.header {
  grid-area: header;
}

.header.dark, .footer.dark {
  background-color: #1F1F1F;
}

.header-search {
  margin-left: 42px;
}

.main {
  grid-area: main;
}

.main.dark {
  background-color: #282828;
}

.footer {
  grid-area: footer;
}

.footer p {
  margin: 0;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #F3F4F6;
}

.menuIcon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
