html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: var(--color-primary-200);
  text-align: left;
}

:root {
  --color-button-text: #fff;
  --color-primary-100: #151a21;
  --color-primary-200: #242c37;
  --color-primary-300: #323d4d;
  --color-primary-600: #5d7290;
  --color-primary-700: #b2bdcd;
  --color-primary-800: #dee3ea;
  --color-primary-900: #fff;

  --color-secondary-washed-out: #879eed;
  --color-secondary: #7110F6;
  --color-accent-glow: rgba(253,77,77,0.3);
  --color-accent: #FF3C50;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
}

[data-theme='dark'] {
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;

  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253,77,77,0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-hover) var(--color-primary-900);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: var(--color-primary-900);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-hover);
  border-radius: 25px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary-100);
}

p {
  margin: 0 0 1rem 0;
  color: var(--color-primary-200);
}

.code {
  background: var(--color-primary-100);
  color: var(--color-primary-900);

  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.buttons {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.buttons button {
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;

  height: max-content;

  top: 30px;
  position: sticky;
  padding: 0 10% 10% 10%;
}

@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  aside {
    padding: 0 10%;
  }
}
