html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-weight: 800;
  font-size: 4em;
  line-height: 1;
  margin: 0.25em 0 0;
  color: #404d5b;
  text-align: center;
}

h2.title {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.325em 0 1em 0;
  color: #c3c8cd;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form.sm {
  width: 30%;
}

form.md {
  width: 50%;
}

form input, form button {
  border: darkgrey;
  border-radius: 5px;
  outline: none;

  width: 100%;
  padding: 0.5em;
  margin: 0.5em;

  transition: all .3s ease;
}

form button {
  text-transform: uppercase;
  font-weight: bolder;
}

form button:focus, form button:hover {
  cursor: pointer;
  color: white;
  background: black;
}
